@charset "UTF-8";

h1 {
  color: #4e80c2;
}

body {
  text-align: center;
  background: #000022;
}

.appframe {
  background: #ffffff;
  width: 420px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}
ul{
  list-style-type: none;

  padding: 0;
}
li{
  border-top: solid 1px #b1daff;
padding:2px;
}
.active{
  background: rgb(213, 233, 233);
  color:rgb(7, 124, 181);
}
li:hover{
  background:rgb(190, 187, 252);
}
